/* ==== Fonts  ==== */

/* ==== CSS Variables ==== */
:root {
    --primary-color: green;
    --dark-color: black;
    --light-bg: #f3f1fc;
    --dark-bg: #333;
}

/* ==== Base Style ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    background-color: #f3f2f1;

}

input,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img { 
    width: 100%;
} 

/* ==== Utility Style ==== */
.container {
    max-width: 1168px;
    margin: auto;
    padding: 0 16px;
    /* background-color: orange; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.section-title {
    /* background: red; */
    max-width: 100%;
    margin-bottom: 32px;
    text-align: center;
}

.section-title h2 {
    display: inline-block;
    font-size: 40px;
    color: #000;
    font-weight: 700;
    margin: 0;
    /* background: green; */
    position: relative;
}

.section-title h2::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    /* left: 0; */
    bottom: -6px;
    width: 80px;
    height: 6px;
    transform: translateX(-50%);
    /* left: 50%; */
    /* right: 0; */
    /* margin: 0 auto; */
    /* transform: translateX(-50%); */
    background-color: green;
}



.btn {
    display: inline-block;
    /* text-decoration: none; */
    background-color: green;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 4px;
    border: 2px solid transparent;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    /* background-color: transparent; */
    /* border-color: green; */
    /* color: green; */
    /* opacity: 0.5; */
    background-color: darkgreen;
    /* font-weight: 800; */
}

/* ==== Header ==== */
header {
    background-color: #000;
    background-color: #c0c0c0;
    background-color: #fff;
    padding: 0.375rem 0;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; */
    /* z-index: 99; */
    transition: all 0.5s ease;
}

.header.fixed {
    /* background-color: #fff; */
    position: fixed;
    z-index: 99;
    width: 100%;
}

.header .logo img{
    width: 56px;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding: 25px 0;
    transition: all 0.5s ease;
    /* background: red; */
}

header.fixed .nav ul li a:hover,
.header .nav ul li a:hover {
    color: green;
}

.header .nav-toggle {
    width: 40px;
    height: 34px;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    place-items: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    transition: all 0.5s ease;
    display: none;
}

.header .nav-toggle .fas {
    font-size: 1.5rem;
}

/* ==== Header Responsive ==== */

/* Responsive */
@media (max-width: 767px) {
    .header {
        /* background-color: purple; */
        /* position: fixed; */
        /* padding: 8px 0; */
    }

    .header .nav-toggle {
        display: grid;
        /* margin-right: 24px; */
    }

    .header .nav {
        /* background: orange; */
        width: 100%;
        padding: 0;
        margin-top: 12px;
        background-color: #c1c1c1;
        background-color: #fff;
        /* display: none; */
    } 

    .header .nav ul li {
        display: block;
        /* background: orange; */
         /* margin-right: 25px; */
        margin: 0;
    } 

    .header.fixed .nav ul li a,
    .header .nav ul li a {
        color: #000;
        padding: 10px 0;
        /* background: green; */

    } 

    .header.fixed .nav {
        border-top: 2px solid #555;
    }
}

@media (min-width: 768px) {
    .header .nav {
        display: block !important;
    }
}


/* ==== Showcase ==== */
.showcase {
    min-height: 90vh;
    background-image: url("../images/01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    z-index: 1;
}

.showcase::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
}

.showcase .row {
    min-height: 90vh;
    justify-content: center;
}

.showcase .showcase-content {
    text-align: center;
    margin: 0 16px;
    margin-top: 32px;
}

.showcase .showcase-content h1 {
    font-size: 36px;
    margin: 0 0 4px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 1px;
}

.showcase .showcase-content h4 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 16px;
    letter-spacing: 1px;
}

/* ==== Showcase Responsive ==== */
@media (max-width: 500px) {
    
.showcase .showcase-content {
    /* text-align: center; */
    padding-top: 64px;
    /* background: orange; */
    /* margin: 0 16px; */
}
}

/* ==== About section ==== */
.about {
    padding: 80px 0 0;
    /* background: green; */
}

.about .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.about .about-img .img-box img {
    width: 100%;
    display: block;
    /* object-fit: cover; */
}

.about .about-content p {
    font-size: 17px;
    /* color: #555; */
    line-height: 24px;
    /* margin: 8px 0; */

}

/* ==== About Responsive ==== */
@media (max-width: 850px) {
    .about .grid-container {
        grid-template-columns: 1fr;
    }

    .about .about-img .img-box {
        /* width: 80%; */
        /* display: grid; */
        /* place-items: center; */
    }

}


/* ==== Choose section ==== */
.choose {
    padding: 80px 0 0;
    /* background: red; */
}

.choose .choose-container {
    /* background-color: orange; */
    /* padding-top: 1rem; */
}

.choose .choose-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    text-align: center;
}

.choose .choose-inner {
    padding: 1rem;
    transition: all 0.5s ease-in-out;
}

.choose .choose-inner:hover {
    background-color: green;
    /* color: #fff; */
}

.choose .choose-inner i {
    font-size: 4rem;
    color: green;
    transition: all 0.5s ease-in-out;
}

.choose .choose-inner:hover i {
    color: #fff;
}


.choose .choose-inner h4 {
    font-size: 20px;
    padding: 0.85rem 0;
    transition: all 0.5s ease-in-out;
}

.choose .choose-inner:hover h4 {
    color: #fff;
}

.choose .choose-inner p {
    font-size: 18px;
    color: #000;
    transition: all 0.5s ease-in-out;
}

.choose .choose-inner:hover p {
    color: #fff;
}

/* ==== Choose Responsive ==== */
@media (max-width: 850px) {
    .choose .choose-content {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* grid-gap: 1.5rem; */
        /* text-align: center; */
    }
}

/* ==== Services section ==== */
.services {
    padding: 80px 0 0;
    /* background: red; */
}

.services .section-title {
    margin-bottom: 40px;
}

.services .service-container {
    /* background: green; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.services .service-inner {
    text-align: center;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.services .service-inner .img-box {
    transition: all 0.5s ease-in-out;
}

.services .service-inner h3 {
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 24px;
    color: green;
    transition: all 0.5s ease-in-out;
}

.services .service-inner:hover {
    transform: translateY(-12px);
}

/* ==== Services Responsive ==== */
@media (max-width: 850px) {
    .services .service-container {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* grid-gap: 1.5rem; */
        /* text-align: center; */
    }
}

/* ==== Contact section ==== */
.contact {
    padding: 40px 0 0;
    /* background: red; */
}

.contact .contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.contact .contact-info {
    padding: 2rem 2rem;
}

.contact .contact-info .info-title {
    /* color: #000; */
    text-align: left;
}

.contact .contact-info .section-title h2::before {
    left: 0;
    transform: translateX(0);
}

.contact .contact-info .text {
    font-size: 1.2rem;
}

.contact .contact-form {
    background-color: green;
    position: relative;
}

.contact .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: green;
    transform: rotate(45deg);
    top: 50px; 
    left: -13px;
}

.contact form {
    /* background-color: orange; */
    padding: 2rem 2rem;
    z-index: 10;
    overflow : hidden;
    position: relative;

}

.contact .form-title {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 1.8rem;
}

.contact .input-container {
    /* position: relative; */
    margin: 1rem 0;
}

.contact .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.contact textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.contact .input-container label {
    display: inline-block;
    color: #fafafa;
    font-size: 1.125rem;
    padding-bottom: 8px;
    font-weight: 400;
}

.btn-contact {
    /* padding: 0.6rem 1.3rem; */
    background: #fff;
    border: 2px solid #fafafa;
    /* font-size: 0.85rem; */
    color: green;
    /* line-height: 1; */
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-contact:hover {
    background-color: transparent;
    color: #fff;
}

.contact .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.contact .icon {
    /* width: 80px; */
    font-size: 30px;
    margin-right: 1rem;
    color: green;
}

.contact .information {
    display: flex;
    /* color: #555; */
    font-weight: 600;
    margin: 2rem 0;
    align-items: center;
    /* font-size: 0.95rem; */
}

.contact .information p {
    font-size: 1.2rem;
}

.contact .social-media {
    padding: 0.5rem 0 0 0;
}

.contact .social-media p {
    color: #333;
    font-size: 1.2rem;
}

.contact .social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.contact .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    text-decoration: none;
    /* background: linear-gradient(45deg, #1abc9c, #149279); */
    background-color: green;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.contact .social-icons a i {
    font-size: 24px;
}

.contact .social-icons a:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

/* ==== Contact Responsive ==== */
@media (max-width: 850px) {
    .contact .contact-container {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* grid-gap: 1.5rem; */
        /* text-align: center; */
    }

    .contact  .contact-form:before {
        /* bottom: initial; */
        top: -13px;
        left: initial;
        right: 70px;

    }

}

/* ==== Footer ==== */
.footer {
    background-color: #c1c1c1;
    background-color: #c0c0c0;
    background-color: #000;
    color: #fff;
    padding: 32px;
    text-align: center;

}

.footer p {
    font-size: 1.2rem;
    font-weight: 500;
}









