/* ==== CSS Variables ==== */
:root {
    --primary-color: #0c6140;
}

/* ==== Base Style ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    background-color: #f4f4f4;    
}

input,
textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img { 
    width: 100%;
} 

/* ==== Utility Style ==== */
.container {
    max-width: 1168px;
    margin: auto;
    padding: 0 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.section-title {
    max-width: 100%;
    margin-bottom: 32px;
    text-align: center;
}

.section-title h2 {
    display: inline-block;
    font-size: 40px;
    color: #000;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 450px) {
    .section-title h2 {
        font-size: 34px;
    }
}

.section-title .divider {
    width: 80px;
    height: 6px;
    background-color: var(--primary-color);
    margin: auto;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 4px;
    border: 2px solid transparent;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #378567;
}

/* ==== Header ==== */
header {
    background-color: #fff;
    padding: 0.375rem 0;
    transition: all 0.5s ease;
}

.header.fixed {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.header .logo img{
    width: 180px;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding: 25px 0;
    transition: all 0.5s ease;
}

header.fixed .nav ul li a:hover,
.header .nav ul li a:hover {
    color: #0a8b5a;
}

.header .nav-toggle {
    width: 40px;
    height: 34px;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: all 0.5s ease;
    display: none;
}

.header .nav-toggle .fas {
    font-size: 1.5rem;
}

/* ==== Header Responsive ==== */
@media (max-width: 767px) {
    .header .nav-toggle {
        display: grid;
    }

    .header .nav {
        width: 100%;
        padding: 0;
        margin-top: 12px;
        background-color: #fff;
        display: none;
    } 

    .header .nav ul li {
        display: block;
        margin: 0;
    } 

    .header.fixed .nav ul li a,
    .header .nav ul li a {
        color: #000;
        padding: 10px 0;
    } 

    .header.fixed .nav {
        border-top: 2px solid var(--primary-color);
    }
}

@media (min-width: 768px) {
    .header .nav {
        display: block !important;
    }
}

/* ==== Showcase ==== */
.showcase {
    min-height: 90vh;
    background-image: url("../images/showcase02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.showcase::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}

.showcase .container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase .showcase-content {
    text-align: center;
}

.showcase .showcase-content h1 {
    font-size: 30px;
    margin-bottom: 12px;
    color: #f4f4f4;
    font-weight: 700;
    letter-spacing: 1px;
}

/* ==== Showcase Responsive ==== */
@media (max-width: 768px) {
    .showcase .showcase-content h1 {
        font-size: 28px;
    }
}

@media (max-width: 568px) {
    .showcase .showcase-content h1 {
        font-size: 24px;
    }
}

/* ==== About section ==== */
.about {
    padding: 80px 0 0;
}

.about .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.about .about-img .img-box img {
    width: 100%;
    display: block;
}

.about .about-content p {
    font-size: 17px;
    line-height: 2;
}

.about .about-content .fas {
    font-size: 1.1rem;
    color: var(--primary-color);
}

/* ==== About Responsive ==== */
@media (max-width: 850px) {
    .about .grid-container {
        grid-template-columns: 1fr;
    }
}

/* ==== Choose section ==== */
.choose {
    padding: 80px 0 0;
}

.choose .choose-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    text-align: center;
    /* overflow-x: visible !important; */
}

.choose .choose-inner {
    padding: 1rem;
    transition: all 0.5s ease-in-out;
}

.choose .choose-inner:hover {
    background-color: var(--primary-color);
}

.choose .choose-inner i {
    font-size: 4rem;
    color: var(--primary-color);
    transition: all 0.5s ease-in-out;
}

.choose .choose-inner:hover i {
    color: #fff;
}

.choose .choose-inner h4 {
    font-size: 20px;
    padding: 0.85rem 0;
    transition: all 0.5s ease-in-out;
}

.choose .choose-inner:hover h4 {
    color: #fff;
}

.choose .choose-inner p {
    font-size: 18px;
    color: #000;
    transition: all 0.5s ease-in-out;
}

.choose .choose-inner:hover p {
    color: #fff;
}

/* ==== Choose Responsive ==== */
@media (max-width: 850px) {
    .choose .choose-content {
        grid-template-columns: 1fr;
    }
}

/* ==== Services section ==== */
.services {
    padding: 80px 0 0;
}

.services .section-title {
    margin-bottom: 40px;
}

.services .service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.services .service-inner {
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.services .service-inner .img-box {
    position: relative;
    transition: all 0.5s ease-in-out;
}

.services .service-inner .img-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5 ease-in-out;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.services .service-inner .img-box .overlay h4 {
    color: #fff;
    font-size: 20px;
    transform: translateY(30px);
    transition: all 0.5s ease-in-out;
}

.services .service-inner .img-box:hover .overlay {
    opacity: 1;
}

.services .service-inner .img-box:hover .overlay h4 {
    transform: translateY(0);
}

.services .service-inner h3 {
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 24px;
    color: var(--primary-color);
    transition: all 0.5s ease-in-out;
}

.services .service-inner .img-details {
    display: none;   
}

/* ==== Services Responsive ==== */
@media (max-width: 850px) {
    .services .service-container {
        grid-template-columns: 1fr;
    }
}

/* ==== Lightbox ==== */
.lightbox {
    position: fixed;
    z-index: 1099;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: zoom-out;
    overflow: auto;
    display: none;
}

.lightbox.open {
    display: flex;
}

.lightbox .lightbox-img {
    max-height: 600px;
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: auto;
    padding: 40px 0 16px 0;
    cursor: auto;
}

.lightbox .img-box {
    position: relative;
    top: 20px;
    cursor: zoom-out;
}

.lightbox .lightbox-close {
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: 0;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 26px;
    cursor: zoom-out;
}

.lightbox .lightbox-caption .lightbox-category {
    color: #fff;
    font-size: 16px;
    font-weight: 600px;
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 50px;
    padding-left: 15px;
}

.lightbox .lightbox-caption .lightbox-details {
    max-width: 800px;
    line-height: 1.6;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 1rem;
}

.lightbox .lightbox-controls .prev,
.lightbox .lightbox-controls .next {
    position: absolute;
    height:  auto;
    top: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lightbox .lightbox-controls .prev{
    left: 0;
    width: 50%;
    justify-content: flex-start;
    padding-left: 5px;
}

.lightbox .lightbox-controls .next{
    right: 0;
    width: 50%;
    justify-content: flex-end;
    padding-right: 5px;
}

.lightbox .lightbox-controls .prev img,
.lightbox .lightbox-controls .next img {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8); 
}

.lightbox .lightbox-controls .prev:hover img,
.lightbox .lightbox-controls .next:hover img{
    background-color: rgba(0, 0, 0, 0.8); 
}

/* ==== Contact section ==== */
.contact {
    padding: 40px 0 0;
}

.contact .contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.contact .contact-info {
    padding: 1rem;
}

.contact .contact-info .info-title {
    text-align: left;
}

.contact .contact-info .section-title .divider {
    margin: 0;
}

.contact .contact-info .text {
    font-size: 1.2rem;
}

.contact .contact-form {
    background-color: var(--primary-color);
}

.contact form {
    padding: 2rem 2rem;
}

.contact .form-title {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 1.8rem;
}

.contact .input-container {
    margin: 1rem 0;
}

.contact .input {
    width: 100%;
    outline: none;
    border: 2px solid #f4f4f4;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.contact textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.contact .input-container label {
    display: inline-block;
    color: #f4f4f4;
    font-size: 1.125rem;
    padding-bottom: 8px;
    font-weight: 400;
}

.btn-contact {
    background: #f4f4f4;
    border: 2px solid #f4f4f4;
    color: var(--primary-color);
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-contact:hover {
    background-color: transparent;
    color: #f4f4f4;
}

.contact .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.contact .icon {
    font-size: 30px;
    margin-right: 1rem;
    color: var(--primary-color);
}

.contact .information {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    margin: 2rem 0;
    align-items: center;
}

.contact .information p {
    font-size: 1.2rem;
}

.contact .social-media {
    padding: 0.5rem 0 0 0;
}

.contact .social-media p {
    color: #333;
    font-size: 1.2rem;
}

.contact .social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.contact .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f4f4f4;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.contact .social-icons a i {
    font-size: 24px;
}

.contact .social-icons a:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

/* ==== Contact Responsive ==== */
@media (max-width: 850px) {
    .contact .information {
        display: block;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .contact .contact-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .contact .information p {
        font-size: 1rem;
    }
}

/* ==== Footer ==== */
.footer {
    background-color: #333;
    color: #f4f4f4;
    padding: 32px;
    text-align: center;

}

.footer p {
    font-size: 1.2rem;
}

@media (max-width: 698px) {
    .footer p {
        font-size: 1rem;
    }
}
